<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- the template folder is created by me -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Document</title>
    <!-- i have to add this on topof my code using js, css file here  -->
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
<div class="w-full">

    <h2 class="text-4xl text-blue-500 text-center">Django Index page </h2>
</div>
</body>
</html>